* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}
