* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8492a6;
}

ul {
  padding: 0;
  list-style: none;
}
