* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #1f2d3d;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  background-color: #1f2d3d;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.ad-banner {
  width: 360px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 6px;
}

.ad-banner-title {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: -0.025em;
}

.ad-banner-description {
  margin-bottom: 28px;
  color: #666;
  font-size: 14px;
  letter-spacing: 0.01em;
}

.ad-banner-description strong {
  color: #6f6f6f;
}

.ad-banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #fff;
  background: rgb(255, 105, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 105, 0, 1) 0%,
    rgba(255, 92, 0, 1) 0%,
    rgba(255, 0, 178, 1) 100%
  );
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.ad-banner-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(255, 92, 0, 0.3);
}
