* {
  font-family: 'Roboto', sans-serif;
  color: #1f2d3d;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
