* {
  font-family: 'Roboto', sans-serif;
  color: #1f2d3d;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f2d3d;
}

a {
  text-decoration: none;
  color: inherit;
}

.ad-banner {
  background-color: #fff;
}

.ad-banner-description {
  color: #666;
}

.ad-banner-description strong {
  color: #6f6f6f;
}

.ad-banner-button {
  color: #fff;
  background: rgb(255, 105, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 105, 0, 1) 0%,
    rgba(255, 92, 0, 1) 0%,
    rgba(255, 0, 178, 1) 100%
  );
}
